@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

html, body {
  background: #18142a;
  color: #ece0ff;
  min-height: 100vh;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  scroll-behavior: smooth;
}

/* a {
  transition: color 0.2s;
} */

::-webkit-scrollbar {
  width: 8px;
  background: #221840;
}
::-webkit-scrollbar-thumb {
  background: #39206d;
  border-radius: 8px;
}
